.now-playing {
    color: rgba(255,255,255,0.5);
}

.art {
	position: absolute;
	top: 15px;
	left: 10px;
	height: 150px;
	width: 150px;
	background-size: cover;
    background-image: url('/img/art-default.jpg');
}
.art.cover {
    box-shadow: inset 0px 0px 1px 1px rgba(255,255,255,0.3);
}

.meta {
	position: absolute;
	top: 15px;
	left: 170px;
	width: 140px;
}
.meta .artist {
	font-size: 26px;
	line-height: 35px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.meta .album {
	font-size: 14px;
	line-height: 20px;
}
.meta .genre {
	font-size: 14px;
	line-height: 20px;
}

.meta .state {
    height: 40px;
    width: 40px;
    border-radius: 100%;
}

.meta .state.playing {
    border-left: 5px solid rgba(255,255,255,.15);
    border-bottom: 5px solid rgba(255,255,255,.15);
    border-right: 5px solid rgba(255,255,255,.15);
    border-top: 5px solid red;
}

.active {
	position: absolute;
	top: 175px;
	left: 10px;
	height: 40px;
	width: 220px;
}
.active .song {
	position: absolute;
	top: 0;
    width: 300px;
    overflow: hidden;

    font-size: 24px;
    text-transform: capitalize;
    text-overflow: ellipsis;
    white-space: nowrap;

}
.active .progressbar {
    top: 30px;
    position: absolute;
    height: 6px;
    width: 300px;
    border: 1px solid rgba(255,255,255,0.3);
    border-radius: 6px;
    overflow: hidden;
}
.active .progress {
	position: relative;
	height: 6px;
	width: 0px;
    background: -webkit-linear-gradient(top, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%);
    background-repeat: no-repeat;
}
.active .time {
	top: 45px;
	position: absolute;
	font-size: 11px;
}

.status {
    display: block;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    box-shadow: inset 0px 0px 1px 1px rgba(255,255,255,0.3);
    background-color: rgba(0,0,0,0.8);
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
}

.status.ready {
    opacity: 1;
    font-size: 24px;
    min-width: 180px;
}

.status.show {
    opacity: 1;
}

.status.fade {
    -webkit-transition: opacity 1s;
}

/* Local */
.now-playing.local { color: fff; }

/* TuneIn Radio */
.now-playing.tunein { color: fff; }
.now-playing.tunein .art { background-image: url('/img/art-tunein.jpg'); }
.now-playing.tunein .active .progressbar { display: none; }
.now-playing.tunein .active .time { display: none; }

/* Google Music */
.now-playing.gmusic { color: fff; }
.now-playing.gmusic .art { background-image: url('/img/art-gmusic.jpg'); }

/* Spotify */
.now-playing.spotify { color: fff; }
.now-playing.spotify .art { background-image: url('/img/art-spotify.jpg'); }

/* Soundcloud */
.now-playing.soundcloud { color: fff; }
.now-playing.soundcloud .art { background-image: url('/img/art-soundcloud.jpg'); }