.art {
	position: absolute;
	top: 15px;
	left: 10px;
	height: 150px;
	width: 150px;
	background-size: cover;
	box-shadow: inset 0px 0px 1px 1px rgba(255,255,255,0.3);
    background-image: url('/img/art-default.jpg');
}

.tunein .art { background-image: url('/img/art-tunein.jpg'); }
.gmusic .art { background-image: url('/img/art-gmusic.jpg'); }
.spotify .art { background-image: url('/img/art-spotify.jpg'); }
.soundcloud .art { background-image: url('/img/art-soundcloud.jpg'); }

.meta {
	position: absolute;
	top: 15px;
	left: 170px;
	width: 140px;
}
.meta .artist {
	font-size: 26px;
	line-height: 35px;
}
.meta .album {
	font-size: 14px;
	line-height: 20px;
}
.meta .genre {
	font-size: 14px;
	line-height: 20px;
}

.meta .state {
    height: 40px;
    width: 40px;
    border-radius: 100%;
}

.meta .state.playing {
    -webkit-animation: rotate 3s infinite linear;

    border-left: 5px solid rgba(255,255,255,.15);
    border-bottom: 5px solid rgba(255,255,255,.15);
    border-right: 5px solid rgba(255,255,255,.15);
    border-top: 5px solid red;
}

@-webkit-keyframes rotate {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

.active {
	position: absolute;
	top: 175px;
	left: 10px;
	height: 40px;
	width: 220px;
}
.active .song {
	position: absolute;
	top: 0;
    width: 300px;
    overflow: hidden;

    font-size: 24px;
    text-transform: capitalize;
    text-overflow: ellipsis;
    white-space: nowrap;

}
.active .progressbar {
    top: 30px;
    position: absolute;
    height: 6px;
    width: 300px;
    border: 1px solid rgba(255,255,255,0.3);
    border-radius: 6px;
    overflow: hidden;
}
.active .progress {
	position: relative;
	height: 6px;
	width: 0px;
    background: -webkit-linear-gradient(top, #f85032 0%,#f16f5c 50%,#f6290c 51%,#f02f17 71%,#e73827 100%);
    background-repeat: no-repeat;
}
.active .time {
	top: 45px;
	position: absolute;
	font-size: 11px;
}