.art {
	position: absolute;
	top: 15px;
	left: 10px;
	height: 150px;
	width: 150px;
	background-size: cover;
	box-shadow: inset 0px 0px 1px 1px rgba(255,255,255,0.3);
}
.meta {
	position: absolute;
	top: 15px;
	left: 170px;
	width: 140px;
}
.meta .artist {
	font-size: 26px;
	line-height: 35px;
}
.meta .album {
	font-size: 14px;
	line-height: 20px;
}
.meta .genre {
	font-size: 14px;
	line-height: 20px;
}


.active {
	position: absolute;
	top: 175px;
	left: 10px;
	height: 40px;
	width: 220px;
}
.active .song {
	position: absolute;
	top: 0;
    width: 300px;
    overflow: hidden;

    font-size: 24px;
    text-transform: capitalize;
    text-overflow: ellipsis;
    white-space: nowrap;

}
.active .progress {
	top: 30px;
	position: absolute;
	height: 6px;
	width: 300px;
	background-color: red;
	border-radius: 6px;
}
.active .time {
	top: 40px;
	position: absolute;
	font-size: 11px;
}